.carrusel {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
  
  .carrusel-contenedor {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carrusel-item {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    background-color: #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carrusel-item h3 {
    font-size: 24px;
    font-weight: bold;
  }